<div class="container text-center">
      <h1> Here the list of restaurant </h1>
  <%= link_to 'New Restaurant', new_restaurant_path,  class: "btn btn-secondary mb-2" %>
      <% @restaurants.each do |restaurant| %>
        <div class="card mx-auto" style="width: 18rem;">
          <div class="card-body">
            <div class="card-title">
              <h5><strong><%= restaurant.name %> </strong></h5>
            </div>
            <div class="card-text">
              <p><%= restaurant.address %></p>
              <%= link_to "See details", restaurant_path(restaurant), class: "btn btn-light"%>            </div>
          </div>
        </div>
      <%end%>
</div>
